In [5]:
credit <- read.csv("creditability.csv")

summary(credit)

 Creditability Account.Balance Duration.of.Credit Previous.Credit
 Min.   :0.0   Min.   :1.000   Min.   : 4.00      Min.   :0.000
 1st Qu.:0.0   1st Qu.:1.000   1st Qu.:12.00      1st Qu.:2.000
 Median :1.0   Median :2.000   Median :18.00      Median :2.000
 Mean   :0.7   Mean   :2.607   Mean   :21.12      Mean   :2.549
 3rd Qu.:1.0   3rd Qu.:4.000   3rd Qu.:24.00      3rd Qu.:4.000
 Max.   :1.0   Max.   :4.000   Max.   :72.00      Max.   :4.000
    Purpose       Credit.Amount   Value.Savings.Stocks
 Min.   : 0.000   Min.   :  250   Min.   :1.000
 1st Qu.: 1.000   1st Qu.: 1374   1st Qu.:1.000
 Median : 2.000   Median : 2300   Median :1.000
 Mean   : 2.821   Mean   : 3262   Mean   :2.118
 3rd Qu.: 3.000   3rd Qu.: 3968   3rd Qu.:3.000
 Max.   :10.000   Max.   :18424   Max.   :5.000
 Length.of.current.employment Instalment.per.income Sex.Marital.Status
 Min.   :1.000                Min.   :1.000         Min.   :1.000
 1st Qu.:3.000                1st Qu.:2.000         1st Qu.:2.000
 Median :3.000                Median :3.000         Median :3.000
 Mean   :3.388                Mean   :2.982         Mean   :2.696
 3rd Qu.:5.000                3rd Qu.:4.000         3rd Qu.:3.000
 Max.   :5.000                Max.   :4.000         Max.   :4.000
   Guarantors    Duration.in.Current.address Most.valuable.asset
 Min.   :1.000   Min.   :1.00                Min.   :1.000
 1st Qu.:1.000   1st Qu.:2.00                1st Qu.:1.000
 Median :1.000   Median :3.00                Median :2.000
 Mean   :1.144   Mean   :2.85                Mean   :2.373
 3rd Qu.:1.000   3rd Qu.:4.00                3rd Qu.:3.000
 Max.   :3.000   Max.   :4.00                Max.   :4.000
      Age        Concurrent.Credits Type.of.apartment
 Min.   :19.00   Min.   :1.000      Min.   :1.000
 1st Qu.:27.00   1st Qu.:3.000      1st Qu.:2.000
 Median :33.00   Median :3.000      Median :2.000
 Mean   :35.31   Mean   :2.672      Mean   :1.927
 3rd Qu.:41.00   3rd Qu.:3.000      3rd Qu.:2.000
 Max.   :75.00   Max.   :3.000      Max.   :3.000
 No.of.Credits.at.this.Bank   Occupation  No.of.dependents   Telephone
 Min.   :1.000              Min.   :1.0   Min.   :1.000    Min.   :1.000
 1st Qu.:1.000              1st Qu.:3.0   1st Qu.:1.000    1st Qu.:1.000
 Median :1.000              Median :3.0   Median :1.000    Median :1.000
 Mean   :1.404              Mean   :2.9   Mean   :1.151    Mean   :1.408
 3rd Qu.:2.000              3rd Qu.:3.0   3rd Qu.:1.000    3rd Qu.:2.000
 Max.   :4.000              Max.   :4.0   Max.   :2.000    Max.   :2.000
 Foreign.Worker
 Min.   :1.00
 1st Qu.:1.00
 Median :1.00
 Mean   :1.03
 3rd Qu.:1.00
 Max.   :2.00

In [73]:
p1 <- subset(credit, Account.Balance == 4 , select=c(Creditability))
p2 <- subset(credit, Account.Balance < 4 , select=c(Creditability))

#p1
p2

    Creditability
1   1
2   1
3   1
4   1
5   1
6   1
8   1
9   1
10  1
11  1
12  1
13  1
14  1
15  1
16  1
17  1
19  1
20  1
21  0
22  1
23  1
24  1
25  1
26  1
28  1
29  1
33  1
34  1
41  1
42  0
... ...
866 0
868 0
869 0
870 0
871 0
873 0
874 0
875 0
877 0
878 0
879 0
880 0
881 0
882 0
883 0
884 0
885 0
887 0
888 0
889 0
890 0
891 0
892 0
893 0
894 0
895 0
896 0
897 0
899 0
900 0

In [23]:
length(p1$Creditability)

[1] 363

[1] 537

[1] 363

In [18]:
simulasi <- 2000
#a<-replicate(2000,mean(sample(x1, length(x1), replace=TRUE)) - mean(sample(x2, length(x2), replace=TRUE)))

In [69]:
re_p1 <- replicate(simulasi,sum(sample(p1$Creditability, length(p1$Creditability), replace=TRUE)))
#re_p1
p1_persen <- re_p1/length(p1$Creditability)*100
#p1_persen
re_p2 <- replicate(simulasi,sum(sample(p2$Creditability, length(p2$Creditability), replace=TRUE)))
#re_p2
p2_persen <- re_p2/length(p2$Creditability)*100

In [57]:
summary(re_p1)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  298.0   315.0   319.0   319.1   323.0   337.0

In [77]:
sel_persen = p1_persen-p2_persen >= 25
#sel_persen
sum(sel_persen)/2000

[1] 0.4865

In [62]:
selisih = p1_persen - p2_persen
t.test(selisih, mu = 25,  alternative="greater", conf.level=0.95)

	One Sample t-test

data:  selisih
t = 57.827, df = 999, p-value < 2.2e-16
alternative hypothesis: true mean is greater than 25
95 percent confidence interval:
 29.84203      Inf
sample estimates:
mean of x
 29.98393