In [1]:
import pandas as pd
import numpy as np

In [2]:
list1 = list(range(10))

In [3]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 1

In [7]:
#Slice list dr elemen ke-5 s.d ke-10
x = list1[4:]
print(x)

[4, 5, 6, 7, 8, 9]

In [8]:
list2=[["Anne","Tim",2017],["Jimmy","Sarah",2015],["Bella","Alain",2010],["Sam","Neveen",2007]]

## 2

In [15]:
couple = [row[0:2] for row in list2]
couple

[2017, 2015, 2010, 2007]

## 3

In [ ]:
year = [row[2] for row in list2] 
year

## 4

In [16]:
price_usd = [23.5, 60.0, 25.0, 27.5, 30.0]
rate = 13900

In [17]:
print(list(map(lambda x:x*rate,price_usd)))

[326650.0, 834000.0, 347500.0, 382250.0, 417000.0]

## 5

In [20]:
Score = [55, 68, 44, 89, 90, 78, 46, 70, 45, 75]

In [80]:
def pass_exam(nilai):
    if nilai <= 40:
        status = 'Fail'
    elif 40 < nilai <= 60:
        status = 'Remedi'
    elif nilai > 60:
        status = 'Pass'
    return status

### 6

In [83]:
z = list(map(pass_exam, Score))
#pass_exam(90)
print(z)

['Remedi', 'Pass', 'Remedi', 'Pass', 'Pass', 'Pass', 'Remedi', 'Pass', 'Remedi', 'Pass']

In [35]:
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4), index ='A B C D E'.split(), columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### 8

In [41]:
#print(cars_id.iloc[0])
print(df.iloc[[0,1],[0,1]])

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

### 9

In [45]:
print(df.Z[df.W > 0])

A    0.503826
B    0.605965
D    0.955057
E    0.683509
Name: Z, dtype: float64

### 10

In [105]:
print(df[(df.Y > 0) & (df.loc['B'] < 0)])
#tidak ada irisan

Empty DataFrame
Columns: [W, X, Y, Z, Jumlah_W_X]
Index: []

C:\Users\nourma059258\AppData\Local\Continuum\miniconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### 11

In [49]:
print(df.mean())

W    0.343858
X    0.453764
Y    0.452287
Z    0.431871
dtype: float64

### 12

In [1]:
x = df.describe()
print(x[['Y','Z']])
#df[['Y','Z']].describe()

NameError: name 'df' is not defined

### 13

In [93]:
df.drop('Z', axis=1)
#del df['Z'] #delete permanently

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967

### 14

In [94]:
df.drop(['E'],axis=0,inplace=True) #permanently

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

### 15

In [95]:
df['Jumlah_W_X']=df['W'] + df['X']

In [96]:
df

          W         X         Y         Z  Jumlah_W_X
A  2.706850  0.628133  0.907969  0.503826    3.334983
B  0.651118 -0.319318 -0.848077  0.605965    0.331800
C -2.018168  0.740122  0.528813 -0.589001   -1.278046
D  0.188695 -0.758872 -0.933237  0.955057   -0.570177
E  0.190794  1.978757  2.605967  0.683509    2.169552