In [28]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from collections import OrderedDict

# ENCODE CATEGORIC VARIABLE

## Create DF from dictionary

In [13]:
nama = ["Brian","Joe","Sarah","Julia"]
gender = ["Male","Male","Female","Female"]
marital = ["Married","Single","Married","Single"]

In [14]:
my_dict = {'nama' : nama,'gender' : gender,'marital' : marital}

In [15]:
#Without OrederedDict
employee = pd.DataFrame(my_dict)
employee

   gender  marital   nama
0    Male  Married  Brian
1    Male   Single    Joe
2  Female  Married  Sarah
3  Female   Single  Julia

In [16]:
#With OrderedDict
employee = pd.DataFrame(OrderedDict(my_dict))
employee

    nama  gender  marital
0  Brian    Male  Married
1    Joe    Male   Single
2  Sarah  Female  Married
3  Julia  Female   Single

### Encoding 1, with drop_first = False(deafult)

In [17]:
employee2 = pd.get_dummies(employee, columns = ["gender","marital"])
employee2

    nama  gender_Female  gender_Male  marital_Married  marital_Single
0  Brian              0            1                1               0
1    Joe              0            1                0               1
2  Sarah              1            0                1               0
3  Julia              1            0                0               1

In [18]:
employee3 = pd.get_dummies(employee, columns = ["gender","marital"], drop_first=True)
employee3

    nama  gender_Male  marital_Single
0  Brian            1               0
1    Joe            1               1
2  Sarah            0               0
3  Julia            0               1

## case 1

In [19]:
predicted = [1, 1, 0, 0, 0, 1, 1, 1, 0, 0]
actual = [1, 0, 1, 1, 0, 1, 1, 1, 0, 0]

In [20]:
my_dict2 = {'predicted' : predicted, 'actual' : actual}

In [21]:
predict = pd.DataFrame(OrderedDict(my_dict2))
predict

   predicted  actual
0          1       1
1          1       0
2          0       1
3          0       1
4          0       0
5          1       1
6          1       1
7          1       1
8          0       0
9          0       0

In [23]:
print (classification_report(actual,predicted))

             precision    recall  f1-score   support

          0       0.60      0.75      0.67         4
          1       0.80      0.67      0.73         6

avg / total       0.72      0.70      0.70        10

In [24]:
cm = confusion_matrix(actual,predicted)
cm

array([[3, 1],
       [2, 4]], dtype=int64)

In [25]:
total = sum(sum(cm))
acuracy = (cm[0,0] + cm[1,1]) / total
sensitivity = cm[1,1] / (cm[1,0] + cm[1,1])
specificity = cm[0,0] / (cm[0,0] + cm[0,1])

In [27]:
print ('Accuracy :', acuracy)
print('Sensitivy :', sensitivity)
print('Specificity :', specificity)

Accuracy : 0.7
Sensitivy : 0.6666666666666666
Specificity : 0.75

In [29]:
print(accuracy_score(actual,predicted))

0.7

# EXERCISE

In [ ]:
- Build confusion matrix
- Calculate accuracy,dll

In [30]:
predicted2 = ['T', 'T', 'T', 'F','F','T','T','T','F','F']
actual2 = ['T','T','F','F','F','T','T','F','F','F']

In [31]:
my_dict3 = {'predict' : predicted2, 'actual' : actual2}

In [32]:
predict = pd.DataFrame(OrderedDict(my_dict3))
predict

  predict actual
0       T      T
1       T      T
2       T      F
3       F      F
4       F      F
5       T      T
6       T      T
7       T      F
8       F      F
9       F      F

In [33]:
print (classification_report(actual2,predicted2))

             precision    recall  f1-score   support

          F       1.00      0.67      0.80         6
          T       0.67      1.00      0.80         4

avg / total       0.87      0.80      0.80        10

In [38]:
cm = confusion_matrix(actual2,predicted2)
total = sum(sum(cm))
acuracy = accuracy_score(actual2,predicted2)
sensitivity = cm[1,1] / (cm[1,0] + cm[1,1])
specificity = cm[0,0] / (cm[0,0] + cm[0,1])

In [39]:
print('Confusion Matrix :', cm)
print ('Accuracy :', acuracy)
print('Sensitivy :', sensitivity) #sama dengan recall
print('Specificity :', specificity)

Confusion Matrix : [[4 2]
 [0 4]]
Accuracy : 0.8
Sensitivy : 1.0
Specificity : 0.6666666666666666

## case 2

In [40]:
predicted3 = ['F','F','F','F','F','F','F','F','F','F']
actual3 = ['T','F','F','F','F','F','F','F','F','F']

In [41]:
my_dict1 = {'predict' : predicted3, 'actual' : actual3}

In [42]:
print (classification_report(actual3,predicted3))

             precision    recall  f1-score   support

          F       0.90      1.00      0.95         9
          T       0.00      0.00      0.00         1

avg / total       0.81      0.90      0.85        10

C:\Users\nourma059258\AppData\Local\Continuum\miniconda2\envs\py36\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [43]:
print(accuracy_score(actual3,predicted3))

0.9

tidak hanya melihat akurasi. Karena walaupun akurasi tinggi, tapi recall/sensitivitasnya 0

## EXERCISE